<footer class="text-center text-lg-start fixed-bottom text-white bg-dark">
  <div class="text-center p-3">
    Built with ❤️ by  <a target="_blank" href="https://www.linkedin.com/in/abdulla-mahmoud/">Abdulla</a> | <a target="_blank" href="https://github.com/Aboodchei/metrics-visualization">Source code</a>
  </div>
</footer>
